<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Content</h1></a>
            <p>Iroms Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>Abou Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolore quos eum! Tempore temporibus sit ut, eius libero ducimus eligendi debitis a nihil vel fuga labore consectetur quia quae! Error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, officiis! Pariatur harum quidem repudiandae aperiam. Amet, consectetur impedit quo delectus odit tempora dolorum hic blanditiis. Asperiores doloribus porro hic repellat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed autem veniam animi sequi voluptates consectetur ipsa nemo ex. Deleniti, et eius non quidem soluta nesciunt cupiditate fuga ipsum adipisci. Corporis.</p>
    </div>
</body>
</html>